In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('heart.csv')

In [6]:
df.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
461,48,1,2,124,255,1,1,175,0,0.0,2,2,2,1
352,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
178,44,1,0,110,197,0,0,177,0,0.0,2,1,2,0
718,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
200,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1

In [8]:
df.fbs.unique()

array([0, 1])